# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
# no generated types
types/generated
scripts/helpers/**/*.js
hardhat/tasks/**/*.js
test-utils/env_setup.ts

artifacts
build
cache
types
reports
tmp
deployment/deployments
.eslintrc.js
docs

#@todo remove when adapted to ethers typechain tyings 
test-utils
scripts/utils
tests
