{
  "overrides": [
    {
      "files": ["contracts/**/*.sol", "test/*.ts", "types/generated/*.ts", "types/*.ts", "artifacts/*.ts"],
      "options": {
        "printWidth": 99,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}