{
  "overrides": [
    {
      "files": ["*.sol", "*.js", "*.test.js", "*.json"],
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
